<h1>Street Cafes By Post Code</h1>

<table>
  <tr>
    <th>post_code</th>
    <th>total_places</th>
    <th>total_chairs</th>
    <th>chairs_pct</th>
    <th>place_with_max_chairs</th>
    <th>max_chairs</th>
  </tr>

  <% @postcodes.each do |postcode| %>
    <tr>
      <td> <%= postcode.postcode %> </td>
    </tr>
  <% end %>
</table>
